body {
  margin: auto;
  font-size: 2vw;
  background-color: #A993FF;
  font-family: 'Quattrocento Sans', sans-serif;
}

a {
  color:white;
  text-decoration: none;
}

h1, h2, h3{
  font-family: 'Quattrocento', serif;
}

a:hover{
  color:yellow;
  transition: .5s all ease-in-out;
}

/* DESKTOP IMAGE CITATION STYLING */
cite{
  font-size: 1.5vw;
  color: purple;
}

/*PLEASE note: THE BELOW IMPLEMENTED CSS RULES ARE CORRESPONDING TO COMMENTED HEADINGS IN THE HTML FILE ENDING WITH THE WORD "GRID"
For example, "DESKTOP HEADER GRID" refers to HTML's "HEADER GRID" however the word "DESKTOP" provides further details to, which Resolutions css rules are applying to. */



/* ######## DESKTOP HEADER  GRID ######## */
/* Bellow Hamburger Menu's CSS properties and values have been adopted and implemented based on the code provided in Modern-css.com,
 * Author: "Costello",
 * date accessed: [18-10-19],
 * Source: https://modern-css.com/responsive-navbar-with-css-grid.html
 * See further comments for adaptation. All property values have been adapted according to client's specification.
 [[REFERENCED CODE START]] */

.right-menu {
   display: grid;
   grid-template-columns:  1fr auto auto 0.25fr 0.19fr 0.19fr 0.25fr;
   grid-template-rows: 5.5vw;
   color:white;
   padding:1.5vw;
   font-family: 'Quattrocento', serif;
   text-align: right;
 }

.item1{ /*.item1, item0 represent the same University Logo/heading however, this part was implemented
  to maintain the University Logo at all resolutions, when switching between media queries*/
  text-align: left;
}
.item0{
  display: none;
}

.nav-container {
   width: 100%;
   background: #791B99;
 }

#nav-toggle, .burger-menu {
  display:none;
  }

.searchbar, .search-button {
  font-size: 1rem;
}


/* ######## SMALLER DESKTOP/TABLET 1500px HEADER GRID ######## */
@media only screen and (max-width: 1500px) {

  .searchbar, .search-button { /*Added responsive measurements for searchbar resolution changes */
      font-size: 3vw;
   }

  .labelgrid{ /* A grid has been added to maintain header navigation items, and change their font size when resolution changes  */
     display:grid;
     grid-template-columns: 1fr auto;
     font-size: 3vw;
     color: white;
    }

   label.burger-menu {
     display: inline-block;
     grid-column-start: 2;
     padding: 1.5vw;
    }

    .hamburger{ /*class created to manipulate the size of hamburger icon when resolutions change */
      padding: 1vw;
      width:2rem;
    }

   .right-menu, .item1 {
      display: none;
    }

   .item0{
     display:grid;
     grid-row-end: 2;
     padding: 1.5vw;
     font-family: 'Quattrocento', serif;
    }

    #nav-toggle:checked ~ .right-menu {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr repeat(3, 1fr);
    text-align: right;
    font-size: 3vw;
   }

/* SMALLER DESKTOP/TABLET UNIVERSITY BUILDING GRID's IMAGE & STUDENT QUOTE GRID's IMAGE*/
   body .item6 {    /* Added responsive measurements to University building image and student quote phote, when resolutions change*/
     height: 30rem;
   }
   body .student-pic{
     height: 20rem;
   }

/* SMALLER DESKTOP/TABLET FOOTER GRID */
    body .footer-container{ /*Added responsive font measurements to the webpage's footer, when resolutions change*/
    font-size: 3vw;
  }

}

/*Additional MOBILE RESOLITION TARGETED media query has been added*/

/*[[REFERENCED CODE END]]*/

/* ######### MOBILE 600px HEADER GRID ######### */
@media only screen and (max-width: 600px) {

    .labelgrid{
      font-size: 4vw;
    }

    .hamburger{
      width:1.5rem;
    }


    body .item1{
      display:none;
    }

    .item0{
      grid-template-columns: 1fr 1fr 1fr; /*Hamburger Menu, added additional grid, when resolution changes University's logo breaks into two lines as per client's suggestion*/
    }

    #nav-toggle:checked ~ .right-menu {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:  1fr 2fr repeat(3, 1fr);
    text-align: right;
    font-size: 4vw;
   }

/* ######### (Media Query Continues) MOBILE UNIVERSITY BUILDING GRID ######### */

   body .slogan{
     font-size: 4vw;;
     margin-left: 1vw;
     position: relative;
     padding: 1.5vw;
     color:#fff;
     font-style: oblique;
     text-shadow: #ee2eff 1px 0 10px;
   }

   body .item6{
     opacity: 1;
     height: 60vw;
   }
/* ######### (Media Query Continues) MOBILE STUDY & RESEARCH GRID ######### */
   .container1{
     grid-template-rows: 1fr 0.1fr 1fr 0.1fr;
   }

   .item7, .item8 {
     grid-column-start: 1;
     grid-column-end: 3;
   }

    .study, .research {
      grid-column-start: 1;
      font-size: 10vw;
      padding-left: 2vw;
      padding-top: 4vw;
      margin: 1vw;
   }

   .study{
     grid-row-end: 3;
   }
   .research{
     grid-row-end: 5;
   }

   .item9, .item10{
     display:none;
   }

/* MOBILE IMAGE CITATION STYLING */

   cite{
     font-size: 3vw;
   }

   .hidable-citation{
     display: none;
   }

/* ######### (Media Query Continues) MOBILE QUOTE GRID ######### */
  body .quote{
     grid-template-columns: 1fr;
     padding:2vw;
   }

   body .quote-words{
     font-size: 8vw;
     padding-left: 1vw;
     font-style: italic;
   }

   body .quote-attribution{
     font-size: 5vw;
   }

   .student-pic{
     display:none;
   }
/* ######### (Media Query Continues) MOBILE NEWS ARTICLES GRID  ######### */
  body .container2 {
     grid-template-columns: 1fr;
     grid-column-gap: 0;
   }

   .grad-head, .victory-head, .staff-head {
     font-size: 7vw;
     padding: 1vw;
     font-family: 'Quattrocento', serif;
     margin: 0;
   }

   .grad-head{
       grid-row-start: 2;
   }

   .victory-head {
     grid-row-start: 5;
   }

   .item14, .item15, .item16{
     font-size: 5vw;
     padding: 1vw;
     grid-column-start: 1;
   }
   .item14{
    grid-row-start: 3;
   }

   .item15{
     grid-row-start: 6;
   }

   body .images1, body .images2{
     height: 60vw;
   }
/* ######### (Media Query Continues) MOBILE FOOTER GRID   ######### */

  body .item20 {
    grid-row-start: 2;
    font-size: 5vw;
    padding-right: 1vw;
  }
  body .item19, .item18, .item17{
    font-size: 5vw;
  }
}
/* ######### MOBILE 250px HEADER GRID ######### */
@media only screen and (max-width: 250px){
  .searchbar, .search-button {
      font-size: 4vw;
   }
}


/* MEDIA QUERIES END */

/*Please note: Apart from DESKTOP HEADER GRID, All the above media queries relate to Mobile/Tablet Resolutions, therefore due to specificity rules some property value pairs above include
'body' selector element next to the class name.

Bellow all GRIDS and corresponding rules represent standard Desktop Resolutions */

/* ######## DESKTOP UNIVERSITY BUILDING GRID ######## */

.uni-image {
  display: grid;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  padding-top: 1.5vw;
}


.item6 {
  width: 100%;
  height: 43rem;
  object-fit: cover;
  opacity: 0.3;
}

.slogan  {
  font-size: 1.5vw;
  position: absolute;
  padding-left: 5vw;
  padding-top: 10vw;
  color:yellow;
  color:#ffd805;
  font-style: oblique;
  text-shadow:#000 1px 0 10px;
}


/* ######## DESKTOP STUDY & RESEARCH GRID ######## */

.container1{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 5vw;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  background-color: #A993FF;
}

/* ######## DESKTOP QUOTE GRID ######## */

.quote{
  display: grid;
  grid-template-columns: 65% 35%;
  padding:1.5vw;
}

.quote-words{
  color: white;
  font-size: 3vw;
  font-style: italic;
  text-shadow: black 1px 0 10px;
}

.quote-attribution {
  color: purple;
  text-align: right;
  padding: 1vw;
  font-size: 1.5vw;
  text-shadow: white 1px 0 10px;
}

.student-pic{
  width: 100%;
  height:30rem;
  object-fit: cover;
}

/* ######## DESKTOP NEWS ARTICLES GRID ######## */
.container2{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 8vw;
  padding:1.5vw;
}

.images1, .images2{
  width: 100%;
  object-fit: cover;
}

.images1{
  height: 30vw;
}

.images2{
  height: 20vw;
}

/* ######## DESKTOP FOOTER GRID ######## */

.footer-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  color:white;
  background-color: #791B99;
  padding:1vw;
  font-family: 'Quattrocento', serif;
}

.item20{
  text-align: right;
  grid-row-end:4;
}
.item19{
  grid-row-end:4;
}
.item18{
  grid-row-end:3;
}
